body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;

  font-family: Georgia, serif;
  display: block;
}

* {
  box-sizing: border-box;
}
/* div {
  display: block;
} */
html {
  color: -internal-root-color;
}
header {
  max-width: 98%;
  background-color: #fff;
  border-top: 5px solid #81b300;
  /* padding: 35px 30px; */
  position: relative;
  margin: 0 auto;
}

/* * {
  box-sizing: border-box;
} */

/* ICONS */
.icons {
  width: 250px;
  height: 50px;
  background-color: #81b300;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 30px;
}

.icon {
  width: 32px;
  height: 32px;
  background-color: #1f1f1f;
  border-radius: 50%;
}
.icon--linkedin {
  background-image: url(../icon/icon-linkedin.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--twitter {
  background-image: url(../icon/icon-twitter.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--pinterest {
  background-image: url(../icon/icon-pinterest.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--google-plus {
  background-image: url(../icon/icon-google-plus.png);
  background-repeat: no-repeat;
  background-position: center;
}
.icon--rss {
  background-image: url(../icon/icon-rss.png);
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  padding-top: 0.5em;
  margin: 0;
}

.title--text {
  color: #333333;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 1em;
}
.title--text::first-letter {
  font-size: 46px;
  line-height: 46px;
}

/* ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} */

.menuItem {
  list-style: none;
  display: block;

  /* padding-left: 38em; */
  margin: 0;

  /* overflow: hidden; */
}

.menuItem--item:first-child {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.menuItem--item:last-child {
  margin-right: 2em;
  margin-top: -1em;
  font-size: 12px;
  float: right;
}

.menuItem--item a {
  color: #81b300;
  margin-right: 4px;
  font-weight: 400;
  text-transform: capitalize;
}

.menuItem--item a:not(:last-child) {
  padding-right: 6px;
  border-right: 1px solid #81b300;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^="col-"] {
  float: left;
}
.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * (6rem));
}

.MenuFrame {
  max-width: 98%;
  padding: 40px 30px;
  height: 70px;
  margin: 0 auto;
  /* margin-top: 2em; */
  border-top: 30px solid #fff;
  background-color: #81b300;
  text-align: center;
}
.container {
  position: relative;
  top: -13px;
}
.MainMenu {
  list-style: none;
  text-decoration: none;
  overflow: hidden;

  /* padding-left: 0;
  padding-right: 1.5em; */
  margin: 0;
  padding: 0;
  /* margin-top: 25px;
  margin-left: 2em; */
  /* bottom: 50px; */
  padding: 1px 12px 1px 1px;
  float: left;
  text-align: left;
}
.MainMenu--MenuItem {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  /* line-height: -5px; */
  text-transform: uppercase;
  margin: 4px;
  /* margin-bottom: 20px; */
}

.b-search-form {
  overflow: hidden;
  float: right;
  /* padding-right: 2em; */
}
.b-search-form__input {
  height: 30px;
  /* padding: 8px; */
  width: 200px;
  border: none;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  color: #7f7f7f;
  font-size: 12px;
  /* margin-top: 30px; */
  font-weight: 400;
  float: left;
  align-items: right;
  border-right: 1px solid #ddd;
}
.b-search-form__input::placeholder {
  color: #7f7f7f;
  text-transform: capitalize;
}

.b-search-form__input_button {
  width: 80px;
  padding: 3px 5px;
  color: #81b300;
  font-weight: 700;
  text-transform: uppercase;
}

#slider {
  text-align: center;
  padding: 80px 0;
  /* margin-left: 49px; */
  /* margin: 0 1.5em 1.5em; */
  max-width: 98%;
  margin: 0 auto;

  background: #f2f2f2;
  z-index: -9999;
}

.images img {
  width: 880px;
  height: 360px;
  border: 10px solid #fff;
}

.uts {
  max-width: 98%;
  height: 300px;
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
}

/* .container2 {
  position: relative;
  height: 300px;
} */

.ut img {
  margin-top: 40px;
}
.uts h3 {
  color: #81b300;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 21.6px;
  text-transform: capitalize;
}

.uts p {
  color: #888;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
  margin-top: 20px;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
}

.PrTitles {
  max-width: 98%;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  padding-top: 5em;
  background-color: #fff;
}

.PrTitles img {
  width: 200px;
  height: 130px;
}

.PrTitles p {
  color: #888;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
  position: relative;
  top: -8px;
  text-align: left;
  padding-left: 4em;
  padding-right: 4em;
}

.PrTitles h4 {
  text-align: left;
  padding-left: 3.7em;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-transform: capitalize;
  margin-top: 25px;
}

.PrTitles hr {
  margin-top: -2em;
  max-width: 95%;
}

.PrTitles--wd {
  font-size: 13px;
  color: #81b300;
  display: block;
  text-align: right;
  position: relative;
  top: -7px;
  text-decoration: none;
}

.different {
  font-size: 10px;
  color: #81b300;
}
